<%- include('../partials/header') %>
<div class="container box">
    <div class="jumbotron text-center text-danger">
        <h1><span class="fa fa-exclamation-circle"></span><%= statusCode %>: <%= errorMessage %></h1>
    </div>
</div>
<%- include('../partials/footer') %>