<!-- views/sources.ejs -->
<%- include('../partials/header') %>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.13.5/css/buttons.dataTables.min.css">
<script src="/js/dashboard.js"></script>

<div class="content-block light-blue">
    <div style="text-align: center; width: 100%;">
        <br/>
        <button class="transparent" onclick="window.location.href='/new'">Start a new evaluation</button>
        <button class="transparent" onclick="window.location.href='/examples'">Select from example case studies</button>
    </div>
</div>
<div class="content-block white">
    <h2>My evaluations</h2>
    <div id="res" class="alert"></div>
    <section class="dashboard">
        <subsection class="dashboard-box">
            <div class="dashboard-header">
                <h2>Risks</h2>
            </div>
            <div class="dashboard-chart">
                <canvas id="riskChart" width="200" height="100"></canvas> <!-- Add canvas for the donut chart -->
            </div>
        </subsection>
        <subsection class="dashboard-box">
            <div class="dashboard-header">
                <h2>Stats <span class="small">(average)</span></h2>
            </div>
            <div class="dashboard-chart">
                <h3>Likelihood</h3>
                <div class="progress-bar">
                    <div id="likelihood-bar" class="bar"></div>
                </div>
                <h3>Impact</h3>
                <div class="progress-bar">
                    <div id="impact-bar" class="bar"></div>
                </div>
                <h3>Risk</h3>
                <div class="progress-bar">
                    <div id="risk-bar" class="bar"></div>
                </div>
            </div>
        </subsection>
        <subsection class="dashboard-box top-risks">
            <div class="dashboard-header">
                <h2>Priority <span class="small">(top 5)</span></h2>
            </div>
            <div class="dashboard-chart">
                <table id="topRisksTable">
                    <thead>
                        <tr>
                            <th>Risk</th>
                            <th style="width: 60px;">Level</th>
                            <th style="width: 50px;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="topRisksTableBody">
                        <!-- Table rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </subsection>
    </section>
    <table id="myProjectsTable" class="display" style="width:100%"></table>
</div>
<div class="content-block light-blue">
    <h2>Evaluations shared with me</h2>
    <table id="sharedProjectsTable" class="display" style="width:100%"></table>
</div>

<script>

$(document).ready(function () {
    // Fetch projects data from server
    fetch('/projects', {
        headers: {
            'Accept': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        renderMyProjects(data.ownedProjects.projects);
        renderSharedProjects(data.sharedProjects);
        addRiskDonut(data.ownedProjects.riskCounts);
        addAverages(data.ownedProjects.averages);
        addTopRisks(data.ownedProjects.topRisks);
    });
});

function renderMyProjects(data) {
    const myProjectsTable = $('#myProjectsTable').DataTable({
        ajax: {
            url: '/projects',
            dataSrc: 'ownedProjects.projects',
            headers: {
                Accept: 'application/json' // Set the Accept header to indicate JSON format
            }
        },
        columns: [
            { data: 'title', title: 'Title', defaultContent: '' },
            {
                data: 'status',
                title: 'Status',
                width: '12%',
                render: function(data, type, row) {
                    if (data == "done") {
                        return 'Complete<br/><button class="viewOutput" data-id="' + row.id + '">View</button>';
                    }
                    if (data == "inProgress") {
                        return "In Progress";
                    }
                    if (data == "todo") {
                        return "To do";
                    }
                    return "Unknown"
                }
            },
            {
                data: 'riskCounts',
                title: 'Risk counts',
                width: '12%',
                render: function(data, type, row) {
                    return "High: " + data["high"] + "<br/>" + "Medium: " + data["medium"] + "<br/>" + "Low: " + data["low"] + "<br/>" + "Unclassified: " + data["unclassified"] + "<br/>"
                }
            },
            {
                data: 'lastModified',
                title: 'Last Modified',
                width: '12%',
                render: function(data, type, row) {
                    // Parse the date string into a Date object
                    var date = new Date(data);
                    // Format the date nicely (e.g., "April 18, 2024 14:36:41")
                    return date.toLocaleString();
                }
            },
            {
                title: 'Actions',
                render: function (data, type, row) {
                    return '<button class="editBtn" data-id="' + row.id + '">Edit</button>' +
                        '<button class="deleteBtn" data-id="' + row.id + '">Delete</button>'
                }
            }
        ],
        order: [[0, 'asc']], // Sort by title ascending by default
        dom: 'Bfrtip', // Show buttons for export
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

    $('#myProjectsTable').on('click', '.editBtn', function () {
        var id = $(this).data('id');
        window.location.href = '/project/' + id + "/projectDetails";
    });

    $('#myProjectsTable').on('click', '.viewOutput', function () {
        var id = $(this).data('id');
        window.location.href = '/project/' + id + "/";
    });

    $('#myProjectsTable').on('click', '.deleteBtn', function () {
        var id = $(this).data('id');
        if (confirm('Are you sure you want to delete this project?')) {
            $('#res').html('<p>Deleting, please wait.</p>');
            $.ajax({
                url: '/project/' + id,
                type: 'DELETE',
                success: function (result) {
                    $('#res').html('<p>Project deleted successfully.</p>');
                    myProjectsTable.ajax.reload();
                    // Clear message after 5 seconds
                    setTimeout(function () {
                        $('#res').html('');
                    }, 5000);
                },
                error: function (xhr, status, error) {
                    // Show error message
                    $('#res').html('<p>Error deleting project: ' + error + '</p>');
                    // Clear message after 5 seconds
                    setTimeout(function () {
                        $('#res').html('');
                    }, 5000);
                }
            });
        }
    });
}

function renderSharedProjects(data) {
    $('#sharedProjectsTable').DataTable({
        data: data,
        columns: [
            { data: 'title', title: 'Title', defaultContent: '' },
            {
                data: 'status',
                title: 'Status',
                width: '12%',
                render: function(data, type, row) {
                    if (data == "done") {
                        return "Complete";
                    }
                    if (data == "inProgress") {
                        return "In Progress";
                    }
                    if (data == "todo") {
                        return "To do";
                    }
                    return "Unknown"
                }
            },
            { data: 'owner', title: 'Owner', defaultContent: '' },
            {
                data: 'lastModified',
                title: 'Last Modified',
                width: '12%',
                render: function(data, type, row) {
                    // Parse the date string into a Date object
                    var date = new Date(data);
                    // Format the date nicely (e.g., "April 18, 2024 14:36:41")
                    return date.toLocaleString();
                }
            },
            {
                title: 'Actions',
                render: function (data, type, row) {
                    return '<button class="editBtn" data-id="' + row.id + '">Edit</button>' +
                        '<button class="deleteBtn" data-id="' + row.id + '">Delete</button>'
                }
            }
        ],
        order: [[0, 'asc']], // Sort by title ascending by default
        dom: 'Bfrtip', // Show buttons for export
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

    $('#sharedProjectsTable').on('click', '.editBtn', function () {
        var id = $(this).data('id');
        window.location.href = '/project/' + id + "/projectDetails";
    });
}
</script>
<%- include('../partials/footer') %>