<!-- views/profile.ejs -->
<%- include('../partials/header') %>
<div id="panelRes" class="alert"></div>
<form id="dataForm" data-project-id="<%= project ? project._id : '' %>">
</form>
<div id="submitButtonContainer" class="content-block dark-blue proceed">

</div>
<script>
const data = {};
data.stakeholders = [];
let stakeholder = {};
stakeholder.stakeholder = "";
stakeholder.type = "";
data.stakeholders.push(stakeholder);

$('#dataForm').html("");
$('#result').html("");
$('form').show();

document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("dataForm");
    const projectId = form.dataset.projectId;

    // Get the form name from the URL
    const urlParams = new URLSearchParams(window.location.search);
    const templateParam = urlParams.get('template');
    const urlParts = window.location.pathname.split('/');
    const formName = urlParts.length >= 4 && urlParts[3] !== undefined ? urlParts[3] : 'projectDetails';

    let fetchURL;

    if (projectId) {
        fetchURL = `/project/${projectId}`;
    } else if (templateParam) {
        fetchURL = `/examples/${templateParam}.json`;
    } else {
        fetchURL = null; // No need to fetch data
    }

    if (fetchURL) {
        fetch(fetchURL, {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(projectData => {
            renderForm(projectData, formName);
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    } else {
        renderForm(data, formName);
    }
});

async function renderForm(data, formName) {
  console.log(data);
    // Fetch the schema from "schemas/project.json"
    fetch(`/schemas/partials/${formName}.json`)
        .then(response => response.json())
        .then(schema => {
            // Fetch the form from the corresponding JSON file
            fetch(`/forms/${formName}.json`)
                .then(response => response.json())
                .then(form => {
                    $('#dataForm').jsonForm({
                        schema: schema,
                        form: form,
                        value: data,
                        onSubmit: function (errors, values) {
                            if (errors) {
                                $('#panelRes').html('<p>Please correct the errors in your form</p>');
                            } else {
                                const inputObject = Object.assign({}, data, values);
                                sendDataToServer(inputObject);
                            }
                        }
                    });
                    moveSubmitButton();
                })
                .catch(error => {
                    console.error("Error fetching form:", error);
                });
        })
        .catch(error => {
            console.error("Error fetching schema:", error);
        });
}

function moveSubmitButton() {
    const submitButtonContainer = $('#submitButtonContainer');
    const submitButton = $('.submitButton');
    if (submitButtonContainer.length && submitButton.length) {
        submitButtonContainer.append(submitButton);
        $('#dataForm').append(submitButtonContainer); // Move container inside #dataForm
    } else {
        console.error("submitButtonContainer or submitButton not found.");
    }
}

async function sendDataToServer(inputObject) {
  let url;
  let method;
  const form = document.getElementById("dataForm");
  var projectId = form.dataset.projectId;

  if (projectId) {
    // If _id is set, use PUT to update existing data
    url = `/project/${projectId}`;
    method = "PUT";
  } else {
    // If _id is not set, use POST to create new data
    url = `/project/`;
    method = "POST";
  }

  try {
    const response = await fetch(url, {
      method,
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(inputObject),
    });

    if (response.ok) {
      // Request was successful, parse the response to get the ID
      if (method == "POST") {
        const responseData = await response.json();
        projectId = responseData._id; // Replace with the actual field name from the response
      }
      const nextAttributeValue = $('.submitButton').attr('next');

      // Redirect the user to /project/<projectId>/<nextAttributeValue>
      if (projectId && nextAttributeValue) {
          window.location.href = `/project/${projectId}/${nextAttributeValue}`;
      } else {
          console.error("Unable to redirect: projectId or nextAttributeValue is missing.");
      }
    } else {
      console.error("Request failed with status:", response.status);
    }
  } catch (error) {
    console.error("An error occurred:", error);
  }
}

</script>
<%- include('../partials/footer') %>